/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


*{
  margin: 0;
  padding: 0;
}

.bx{
  width: 400px;
  height: 400px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bx h1{
  text-align: center;
}
.btn_cls{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.title {
  margin-bottom: 30px;
  color: blue;
}